<!--filter-box-->
<div class="filter-box">
	<div class="title-page-wrap">
		<h1 class="h1-title">Новые автомобили</h1>
		<div class="title-button">
			<a href="" class="btn button-clear">
				<div class="button-title">Очистить поиск</div>
				<div class="button-ico">
					<img title="Image title" loading="lazy" src="./img/icons/trash.svg" alt="Image alt">
				</div>
			</a>
		</div>
	</div>
	<div class="filter-inner-wrap">
		<div class="frm-row">
			<div class="frm-field">
				<div class="field-title">Марка</div>
				<select class="form-input" required>
					<option selected disabled hidden value="">Марка</option><!--placeholder-->
					<option>Пункт списка</option>
					<option>Пункт списка</option>
					<option>Пункт списка</option>
					<option>Пункт списка</option>
				</select>
			</div>
			<div class="frm-field">
				<div class="field-title">Модель</div>
				<select class="form-input" required>
					<option selected disabled hidden value="">Модель</option><!--placeholder-->
					<option>Пункт списка</option>
					<option>Пункт списка</option>
					<option>Пункт списка</option>
					<option>Пункт списка</option>
				</select>
			</div>
			<div class="frm-field">
				<div class="field-title">Цена</div>
				<div class="frm-field-range">
					<div class="field-range">
						<label class="field-range-title">От</label>
						<input type="text" class="form-input">
					</div>
					<div class="field-range">
						<label class="field-range-title">До</label>
						<input type="text" class="form-input">
					</div>
				</div>
			</div>
			<div class="frm-field">
				<div class="field-title">Коробка передач</div>
				<select class="form-input" required>
					<option disabled hidden value="">Коробка передач</option><!--placeholder-->
					<option selected>АКПП</option>
					<option>Пункт списка</option>
					<option>Пункт списка</option>
					<option>Пункт списка</option>
				</select>
			</div>
		</div>
		<div class="frm-row row-tags">
			<div class="frm-field">
				<a href="" class="btn button-tab active">Все</a>
				<a href="" class="btn button-tab">Хэтчбек</a>
				<a href="" class="btn button-tab">Кроссовер</a>
				<a href="" class="btn button-tab">Внедорожник</a>
				<a href="" class="btn button-tab">Седан</a>
				<a href="" class="btn button-tab">Лифтбек</a>
				<a href="" class="btn button-tab">пикап</a>
				<a href="" class="btn button-tab">Универсал</a>
				<a href="" class="btn button-tab">Фургон</a>
				<a href="" class="btn button-tab">Минивзн</a>
				<a href="" class="btn button-tab">Лифтбек</a>
				<a href="" class="btn button-tab">пикап</a>
				<a href="" class="btn button-tab">Универсал</a>
				<a href="" class="btn button-tab">Фургон</a>
				<a href="" class="btn button-tab">Минивзн</a>
			</div>
		</div>
		<div class="frm-row-submit">
			<div class="frm-field field-submit">
				<button type="submit" class="btn">Показать 82 автомобиля</button>
			</div>
			<div class="frm-field field-ext">
				<button class="btn button-clear js-filter-toggle">
					<div class="button-title">Расширенный поиск</div>
					<div class="button-ico">
						<img title="Image title" loading="lazy" src="./img/icons/arrow-more.svg" alt="Image alt">
					</div>
				</button>
			</div>
		</div>
	</div>
	<div class="bg-inner-wrap"></div>
	<div class="rounded-tab right"></div>
</div>
<!--/filter-box-->