
<!-- footer -->
<footer class="footer">
	<!--footer-main-panel-->
	<div class="footer-main-panel cnt-section">
		<div class="inner-wrap">
			<div class="menu-inner-wrap">
				<div class="menu-wrap">
					<div class="menu-title">Автомобили</div>
					<ul class="menu">
						<li><a href="" class="btn-menu">Новые</a></li>
						<li><a href="" class="btn-menu">С пробегом</a></li>
						<li><a href="" class="btn-menu">Подборки</a></li>
						<li><a href="" class="btn-menu">Услуги</a></li>
						<li><a href="" class="btn-menu">Сервис</a></li>
						<li><a href="" class="btn-menu">Запчасти</a></li>
						<li><a href="" class="btn-menu">Аксессуары</a></li>
						<li><a href="" class="btn-menu">Контакты</a></li>
						<li><a href="" class="btn-menu">Акции</a></li>
					</ul>
				</div>
				<div class="menu-wrap">
					<div class="menu-title">Компания</div>
					<ul class="menu">
						<li><a href="" class="btn-menu">О компании</a></li>
						<li><a href="" class="btn-menu">Блог</a></li>
						<li><a href="" class="btn-menu">Новости</a></li>
						<li><a href="" class="btn-menu">Вакансии</a></li>
					</ul>
				</div>
			</div>
			<div class="soc-inner-wrap">
				<a href="" class="btn btn-action-ico">
					<img src="./img/icons/soc-yt.svg" alt="">
				</a>
				<a href="" class="btn btn-action-ico">
					<img src="./img/icons/soc-vk.svg" alt="">
				</a>
				<a href="" class="btn btn-action-ico">
					<img src="./img/icons/soc-tg.svg" alt="">
				</a>
			</div>
			<div class="panel-inner-wrap">
				<div class="logo-wrap">
					<a href="" class="logo">
						<img src="./img/main/logo.svg" alt="">
					</a>
				</div>
				<div class="info-inner-wrap">
					<div class="info-wrap">
						<div class="link-location">Москва, <br>Беломорская, д.40, стр. 17</div>
					</div>
					<div class="info-wrap">
						<a href="tel:84951865564" class="link-phone">+7 (495) 186-55-64</a>
					</div>
				</div>
				<div class="action-inner-wrap">
					<a href="" class="btn">Заказать звонок</a>
				</div>
			</div>
		</div>
	</div>
	<!--/footer-main-panel-->
	<!--footer-bottom-panel-->
	<div class="footer-bottom-panel cnt-section">
		<div class="inner-wrap">
			<div class="info-main-wrap">
				<div class="info-wrap">© AGR Automotive Group 2024</div>
			</div>
			<div class="info-inner-wrap">
				<div class="info-wrap"><a href="">Правовая информация</a></div>
				<div class="info-wrap"><a href="">Политика конфиденциальности</a></div>
				<div class="info-wrap">Разработка <a href="">Рунита</a></div>
			</div>
		</div>
	</div>
	<!--/footer-bottom-panel-->
	<a href="" class="btn-action-ico btn button-up button-second ico-arrow-up js-button-up" id="up"></a>
</footer>
<!-- /footer -->
 