
<!-- footer -->
<footer class="footer">
	<!--footer-main-panel-->
	<div class="footer-main-panel cnt-section">
		<div class="inner-wrap">
			<div class="menu-inner-wrap">
				<div class="menu-wrap">
					<div class="menu-title">Автомобили</div>
					<ul class="menu">
						<li><a href="" class="btn-menu">Новые</a></li>
						<li><a href="" class="btn-menu">С пробегом</a></li>
						<li><a href="" class="btn-menu">Подборки</a></li>
						<li><a href="" class="btn-menu">Услуги</a></li>
						<li><a href="" class="btn-menu">Сервис</a></li>
						<li><a href="" class="btn-menu">Запчасти</a></li>
						<li><a href="" class="btn-menu">Аксессуары</a></li>
						<li><a href="" class="btn-menu">Контакты</a></li>
						<li><a href="" class="btn-menu">Акции</a></li>
					</ul>
				</div>
				<div class="menu-wrap">
					<div class="menu-title">Компания</div>
					<ul class="menu">
						<li><a href="" class="btn-menu">О компании</a></li>
						<li><a href="" class="btn-menu">Блог</a></li>
						<li><a href="" class="btn-menu">Новости</a></li>
						<li><a href="" class="btn-menu">Вакансии</a></li>
					</ul>
				</div>
			</div>
			<div class="soc-inner-wrap">
				<a href="" class="btn btn-action-ico">
					<img  title="Image title" loading="lazy"  src="./img/icons/soc-yt.svg" alt="Image alt">
				</a>
				<a href="" class="btn btn-action-ico">
					<img  title="Image title" loading="lazy"  src="./img/icons/soc-vk.svg" alt="Image alt">
				</a>
				<a href="" class="btn btn-action-ico">
					<img  title="Image title" loading="lazy"  src="./img/icons/soc-tg.svg" alt="Image alt">
				</a>
			</div>
			<div class="panel-inner-wrap">
				<div class="logo-wrap">
					<a href="" class="logo">
						<img  title="Image title" loading="lazy"  src="./img/main/logo.svg" alt="Image alt">
					</a>
				</div>
				<div class="info-inner-wrap">
					<div class="info-wrap">
						<div class="link-location">Москва, <br>Беломорская, д.40, стр. 17</div>
					</div>
					<div class="info-wrap">
						<a href="tel:84951865564" class="link-phone">+7 (495) 186-55-64</a>
					</div>
				</div>
				<div class="action-inner-wrap">
					<a href="" class="btn js-popup-open" data-popup="popup-callback">Заказать звонок</a>
				</div>
			</div>
		</div>
	</div>
	<!--/footer-main-panel-->
	<!--footer-bottom-panel-->
	<div class="footer-bottom-panel cnt-section">
		<div class="inner-wrap">
			<div class="info-main-wrap">
				<div class="info-wrap">© AGR Automotive Group 2024</div>
			</div>
			<div class="info-inner-wrap">
				<div class="info-wrap"><a href="">Правовая информация</a></div>
				<div class="info-wrap"><a href="">Политика конфиденциальности</a></div>
				<div class="info-wrap">Разработка <a href="">Рунита</a></div>
			</div>
		</div>
	</div>
	<!--/footer-bottom-panel-->
	<a href="" class="btn-action-ico btn button-up button-second ico-arrow-up js-button-up" id="up"></a>
</footer>
<!-- /footer -->
 


<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-callback">
	<div class="popup-box cnt-section-box">
		<!-- <a href="" class="btn-action-ico ico-close js-popup-close"></a> -->
		<div class="popup-content-wrap">
			<!--form-box-->
			<div class="form-box">
				<div class="frm-title-wrap">
					<div class="form-title h1-title title-vsmall">Форма обратной связи</div>
				</div>
				<div class="frm-content-wrap">
					<div class="frm-sections-wrap">
						<div class="frm-section-wrap">
							<div class="frm-row">
								<div class="frm-field">
									<div class="field-title">Личные данные</div>
									<div class="frm-field-input">
										<div class="field-input-title">Ваше имя</div>
										<input type="text" class="form-input" placeholder="Имя*">
									</div>
								</div>
								<div class="frm-field">
									<div class="field-title">Контактная информация</div>
									<div class="frm-field-input">
										<div class="field-input-title">Ваш телефон*</div>
										<input type="text" class="form-input" placeholder="Телефон:">
									</div>
									<div class="frm-field-input">
										<div class="field-input-title">Ваш e-mail*</div>
										<input type="email" class="form-input" placeholder="Е-mail">
									</div>
								</div>
							</div>
						</div>
						<div class="frm-section-wrap">
							<div class="frm-row">
								<div class="frm-field">
									<div class="field-title">Текст письиа</div>
									<textarea class="form-input" placeholder="Текст письиа"></textarea>
								</div>
							</div>
						</div>
						<div class="frm-section-wrap section-submit">
							<div class="frm-row-submit">
								<div class="frm-field field-info">
									<div class="frm-select sel-small">
										<input type="checkbox" id="popup-select01">
										<label for="popup-select01">Согласие на обработку <a href="">персональных данных</a></label>
									</div>
								</div>
								<div class="frm-field field-submit">
									<button type="submit" class="btn">Отправить</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/form-box-->
		</div>
	</div>
</div><!--/popup-outer-box-->

<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-order">
	<div class="popup-box cnt-section-box">
		<!-- <a href="" class="btn-action-ico ico-close js-popup-close"></a> -->
		<div class="popup-content-wrap">
			<!--form-box-->
			<div class="form-box">
					<div class="frm-title-wrap">
						<div class="form-title h1-title title-small">Оставить заявку</div>
					</div>
					<div class="frm-content-wrap">
						<div class="frm-row">
							<div class="frm-field field-half">
								<div class="field-title">Личные данные</div>
								<div class="frm-field-input">
									<div class="field-input-title">Ваше имя</div>
									<input type="text" class="form-input" placeholder="Имя*">
								</div>
							</div>
							<div class="frm-field field-half">
								<div class="field-title">Контактная информация</div>
								<div class="frm-field-input">
									<div class="field-input-title">Ваш телефон*</div>
									<input type="text" class="form-input" placeholder="Телефон:">
								</div>
							</div>
						</div>
						<div class="frm-row-submit">
							<div class="frm-field field-info">
								<div class="frm-select sel-small">
									<input type="checkbox" id="popup-select02">
									<label for="popup-select02">Согласие на обработку <a href="">персональных данных</a></label>
								</div>
							</div>
							<div class="frm-field field-submit">
								<button type="submit" class="btn">Отправить</button>
							</div>
						</div>
					</div>
			</div>
			<!--/form-box-->
		</div>
	</div>
</div><!--/popup-outer-box-->

<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-reg">
	<div class="popup-box cnt-section-box">
		<!-- <a href="" class="btn-action-ico ico-close js-popup-close"></a> -->
		<div class="popup-content-wrap">
			<!--form-box-->
			<div class="form-box">
					<div class="frm-title-wrap">
						<div class="form-title h1-title title-vsmall">Запись на сервис</div>
					</div>
					<div class="frm-content-wrap">
						<div class="frm-sections-wrap">
							<div class="frm-section-wrap">
								<div class="frm-row">
									<div class="frm-field">
										<div class="field-title">Личные данные</div>
										<div class="frm-field-input">
											<div class="field-input-title">Причина обращения</div>
											<select class="form-input" required id="select-service">
												<option selected disabled hidden value="">Причина обращения</option><!--placeholder-->
												<option value="1">Записаться на плановое ТО</option>
												<option value="2">Записаться на слесарный ремонт</option>
												<option value="3">Записаться на кузовной ремонт</option>
											</select>
										</div>
									</div>
									<div class="frm-field">
										<div class="field-title">Контактная информация</div>
										<div class="frm-field-input">
											<div class="field-input-title">Ваш телефон*</div>
											<input type="text" class="form-input" placeholder="Телефон:">
										</div>
										<div class="frm-field-input">
											<div class="field-input-title">Ваш e-mail*</div>
											<input type="email" class="form-input" placeholder="Е-mail">
										</div>
									</div>
								</div>
							</div>
							<div class="frm-section-wrap">
								<div class="frm-row">
									<div class="frm-field">
										<div class="field-title">Текст письиа</div>
										<textarea class="form-input" placeholder="Текст письиа"></textarea>
									</div>
								</div>
							</div>
							<div class="frm-section-wrap section-submit">
								<div class="frm-row-submit">
									<div class="frm-field field-info">
										<div class="frm-select sel-small">
											<input type="checkbox" id="popup-select03">
											<label for="popup-select03">Согласие на обработку <a href="">персональных данных</a></label>
										</div>
									</div>
									<div class="frm-field field-submit">
										<button type="submit" class="btn">Отправить</button>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
			<!--/form-box-->
		</div>
	</div>
</div><!--/popup-outer-box-->
