
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<img src="./img/main/logo.svg" alt="">
			</a>
		</div>
		<div class="action-wrap">
			<a href="" class="btn-action-ico btn button-second">
				<img src="./img/icons/phone.svg" alt="">
			</a>
		</div>
		<div class="menu-wrap popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-menu  js-btn-popup-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<div class="menu-inner-wrap">
					<ul class="menu">
						<li class="elm-hidden-desktop"><a href="" class="btn-menu">Главная</a></li>
						<li><a href="" class="btn-menu">Новые</a></li>
						<li><a href="" class="btn-menu">С пробегом</a></li>
						<li><a href="" class="btn-menu">Подборки</a></li>
						<li><a href="" class="btn-menu">Услуги</a></li>
						<li><a href="" class="btn-menu">Сервис</a></li>
						<li><a href="" class="btn-menu">Запчасти</a></li>
						<li><a href="" class="btn-menu">Аксессуары</a></li>
						<li><a href="" class="btn-menu">Контакты</a></li>
						<li><a href="" class="btn-menu button-att">Акции</a></li>
					</ul>
				</div>
				<div class="menu-second-wrap">
					<ul class="menu">
						<li><a href="" class="btn-menu">О компании</a></li>
						<li><a href="" class="btn-menu">Блог</a></li>
						<li><a href="" class="btn-menu">Новости</a></li>
						<li><a href="" class="btn-menu">Вакансии</a></li>
					</ul>
				</div>
				<div class="search-inner-wrap">
					<a href="" class="btn-popup-inner btn-action-ico ico-search"></a>
					<div class="search-content-block">
						<form action="/" class="frm-main-search">
							<input type="text" class="form-input" placeholder="Поиск">
							<button type="submit" class="btn-action-ico ico-search"></button>
						</form>
					</div>
				</div>
				<div class="info-inner-wrap">
					<div class="info-wrap">
						<div class="link-location">Москва, Беломорская, д.40, стр. 17</div>
					</div>
					<div class="info-wrap">
						<a href="tel:84951865564" class="link-phone">+7 (495) 186-55-64</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- /header -->